body {
    display: grid;
    grid-template-rows: 20vh 80vh;
    color: #56949f;
    margin: 0;
}

.center {
    justify-content: center;
    text-align: center;
}


header {
    background-color: #f2e9de;
    grid-row: 1/2;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

nav {
    width: 100%;
    align-items: center;
    background-color: #fffaf3;
    font-size: 1.2em;
}

nav li {
    margin: 1vh 0;
}

.about {
    width: 100%;
}

.entries ul {
    list-style-type: none;
    padding: 0 20%;
}

.entries h2 {
    text-align: center;
}

main {
    background-color: #f2e9de;
    display: grid;
    grid-template-rows: 1fr 0.2fr 1.2fr;
}


button {
    color: white;
    height: 2em;
    margin: 1em;
    width: 6em;
    font-size: 1em;
    border-radius: 4em;
    padding-top: 2em;
    padding-bottom: 3em;
}

.blue_button {
    background-color: #56949f;
}

.text-box {
    display: flex;
    justify-content: center;
    grid-row: 2/3;
    height: 100%;
}

textarea {
    width: 30%;
    height: 20px;
    font-size: 1em;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

}