<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Workout Plans</title>
    <link rel="stylesheet" href="css/yi_stylesheet.css">
    <script src="scripts/planscripts.js" defer></script>
</head>


<body>
    <header class="center">
        <h1>Custom Workout Plan</h1>
        <nav>
            <ul>
                <li><a>Running/Weightlifting<br>Tracking</a></li>
                <li><a href="yi_index.ejs" title="Track your Weight">Weight Tracking</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="entries">
            <h2>My Entries</h2>
            <ul class='plan'>
            </ul>
        </div>

        <div class="text-box">
            <textarea class ='text-area plans' placeholder="Please enter your plan"></textarea>
            </div>

        <div class="bottom center">
             <button class="plan_button" id="plan" type="button">Add Plan
        </button>
        <button class="red_button" id="del" type="button">clear
        </button>
        </div>
    </main>
</body>

</html>