<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weight Tracking</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="css/yi_stylesheet.css">
    <script src="js/weightscripts.js" defer></script>
</head>


<body>
    <header class="center">
        <h1>Weight Tracking</h1>
        <nav>
            <ul>
                <li><a>Running/Weightlifting<br>Tracking</a></li>
                <li><a href="plans.ejs" title="Plan a Custom Workout">Custom Plans</a></li>
            </ul>
        </nav>
    </header>


    <main>
        <div class="entries">
            <h2>My Entries</h2>
            <ul class='weight'>
                <% for (const facts of _data) { %>
                <li>
                    <%= facts.entryid %> <%= facts.date %>
                     <%= facts.weight %> <%= facts.unit %>
                </li>
                <% } %>
            </ul>
            <ul class='plan'>
            </ul>
        </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class ="display-4 text-center">Weight Converter</h1>
            </div>
        </div>
        <form>
               <div class="form-group">
                    <input id="lbsInput" type="number" class=" form-control form-control-lg" placeholder="Input Value..." autocomplete="off">
                </div>
            <div class="col col-4">
			<select id="selectOption" name="selectOption" class="form-control form-control-lg" onchange="formula(this)">
				<option selected value="default">From...</option>
				<option value="kg">Kg</option>
				<option value="pound" >Pound</option>
			  </select>
		    </div>
        </form>
        
         <div id="output">
             <div class="card card-primary mb-2">
                <div class="card-block">
                    <h4>Pound:</h4>
                    <div id="poundOutput"></div>
                </div>
             </div>
        
             <div class="card card-success mb-2">
                <div class="card-block">
                    <h4>Kilograms:</h4>
                    <div id="kgOutput"></div>
                </div>
             </div> 
         </div>
    </div>
        <div class="text-box">
            <form action="/new" method="POST">
                <input type="text" name="weight" placeholder="Enter your weight"/>
                <input type="text" name="date" placeholder="Enter the date"/>
                <input type="submit" value="Click here to submit the form"/>
            </form>
            <form action="/edit" method="POST">
                <input type="text" name="weight" placeholder="Enter your edited weight"/>
                <input type="text" name="id" placeholder="Enter the entry # you want to change"/>
                <input type="submit" value="Click here to edit"/>
            </form>
            <form action="/delete" method="POST">
                <input type="text" name="id" placeholder="Enter the entry # you want to remove"/>
                <input type="submit" value="Click here to remove"/>
            </form>
            <!-- <textarea class ='text-area' placeholder="Please enter a weight"></textarea> -->
            <div class="weight-toggle">
                <input type="checkbox">
                <div class="slider round"></div>
        </div>
        </div>

        <div class="bottom center">
            <button class="blue_button" id="add" type="button">+
            </button>
            <button class="red_button" id="del" type="button">Clear
            </button>
        </div>
        
    </main>
</body>

</html>