html,body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    min-height: 100%;
}

header{
    text-align: center;
}

/* .rightcolor.light{
    background-color: #f2e9de;
}

.leftcolor.light{
    background-color: #9ccfd8;
} */



.right{
    height: 100vh;
    background-color: #f2e9de;
    align-items: center;
}

nav{
    text-align: right;
    margin: 15px;
}

button{
    background-color: white;
    border: none;
}

.responsive{
    max-width: 100%;
    max-height: 100%;
}

.left{
    box-sizing: border-box;
    background-color: #9ccfd8;
}

.dark-mode{
    background-color: black;
    color: white;
}

.wrapper > div{
    padding: 1em;
    border: 0px;
    margin: 0px;
}

.buttongrid{
    display:grid;
    grid-template-columns: 10% 10%;
    white-space: normal;
    justify-content: space-between;
}

.bottombuttons{
    display:grid;
    grid-template-columns: 7% 7%;
    grid-gap: 10px;
    white-space: normal;
    justify-content: right;
}

.wrapper{
    display:grid;
    height: 100vh;
    grid-template-columns: 1fr 4fr;
}

.rightwrap{
    align-items: center;
}

footer{
    text-align: center;
    margin-bottom: 0;
}

.entry{
    display: inline-flex;
    align-items: center;
}

textarea{
    width: 30%;
    height: 20px;
}
.output h4{
    color: #000;
}