body {
    display: grid;
    grid-template-rows: 20vh 80vh;
    color: #56949f;
    margin: 0;
}

.center {
    justify-content: center;
    text-align: center;
}


header {
    background-color: #f2e9de;
    grid-row: 1/2;
    width: 100%;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}

nav {
    width: 100%;
    align-items: center;
    background-color: #fffaf3;
    font-size: 1.2em;
}

nav li {
    margin: 1vh 0;
}

.entries {
    margin: 6vh 0;
}

.weight {
    list-style-type: none;
    padding: 0 20%;
    cursor: pointer;
}

.plan {
    list-style-type: none;
    padding: 0 20%;;
}

ul.plan {
    font-size: 24px;
    font-weight: 600;
    color: #569f6b;
}

.entries h2 {
    text-align: center;
}

main {
    background-color: #f2e9de;
    display: grid;
    grid-template-rows: 1fr 0.2fr 1.2fr;
}
.container{
    text-align: center;
    height: 80px;
    width: 20%;
    position: absolute;
}
.col-md-6{
    justify-content: center;
    margin-top: 70px;
}
.card-primary{
    background-color:#0275d8;
}
.card-primary h4{
    color: #000;
}
.card-success{
    background-color: #5cb85c;
    align-items: center;
}
.card-success h4{
    color: #000;
}

div#kgOutput, div#poundOutput, .card-success h4{
    color: #000;
}

button#add {
    color: white;
    width: 2em;
    font-size: 2em;
    border-radius: 4em;
    margin-top: 2em;
}

button#del {
    color: white;
    width: 4em;
    font-size: 2em;
    border-radius: 4em;
    margin-top: 2em;
}

.red_button {
    background-color: red;
}

.blue_button {
    background-color: #56949f;
}

.plan_button {
    background-color: #569f6b;
}

button#plan{
    color: white;
    width: 30vw;
    font-size: 2em;
    border-radius: 4em;
    margin-top: 2em;
}

.weight-toggle {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 40px;
    pointer-events: none;
    background-color: cornflowerblue;
    align-items: center;
    left: 0.5vw;
}
.weight-toggle input {
    opacity: 0;
    width: 100%;
    height: 100%;
    pointer-events: all;
}
.slider::before {
    content: "";
    position: absolute;
    height: 24px;
    width: 24px;
    left: 8px;
    bottom: 8px;
    background-color: #fff;
    transition: 0.2s;
    pointer-events: none;
}
.slider::after {
    position: absolute;
    content: "kg";
    height: 24px;
    width: 24px;
    right: 10px;
    bottom: 6px;
    transition: 0.2s;
    pointer-events: none;
    color: #fff;
}
input:checked + .slider {
    background-color: #2196f3;
}
input:checked + .slider:before {
    transform: translateX(40px);
}
input:checked + .slider:after {
    content: "lb";
    left: 8px;
}
.slider.round {
    border-radius: 34px;
}
  
.slider.round:before {
    border-radius: 50%;
}

.text-box {
    display: flex;
    justify-content: center;
    grid-row: 2/3;
    height: 100%;
}

textarea.text-area{
    width: 30%;
    height: 20px;
    font-size: 1em;
    margin-top: 1vh;
    resize: none;
}

.text-area.plans {
    width: 30%;
    height: 100%;
    font-size: 1em;
    resize: none;
}

@media screen and (max-width: 600px) {
    body {
        display: flex;
        flex-direction: column;
    }

}